.alert {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: $primary;
    color: $white;
    .close-icon {
        cursor: pointer;
    }
}

.alert-success {
    background: $success;
}

.alert-warning {
    background: $warning;
}

.hide {
    display: none;
}